/* Buttons need more room than that, we'll figure it out later */
/*Adds layout for Group - tabs. 
//Not the finalized version."*/
html{
  height: 400px;
  width: 400px;
}
.box{
  /*background: #888;*/
  position: fixed;
  background-image: linear-gradient(-60deg, rgb(255, 115, 0) 50%, rgb(255, 255, 255) 50%);
  bottom:0;
  left:-90%;
  /*opacity:.5;*/
  
  right:-90%;
  top:0;
  z-index:-1;


  animation:back 1.5s ease-in-out forwards; 
}
/*.box2{
  background: rgb(255,72,0);
  position: absolute;
  width: 300px;
  height: 50px;
  
  animation-name: back;
  animation-duration: 1s;
}*/

@keyframes back{
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(30%);
  }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {background-color: #f44336;} /* Red */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #f44336;} /* Red */
.button5 {background-color: #f44336;} /* Red */

.button2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button6 {background-color: #f44336;} /* Red */
.button7 {background-color: #f44336;} /* Red */
.button8 {background-color: #f44336;} /* Red */
.button9 {background-color: #f44336;} /* Red */
